@model NimapMachinetest.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="CatgId" class="form-control"></select>
            </div>
            @Html.HiddenFor(model => model.CategoryId)
        </div>

        <div class="form-group">           
                <div class="btn btn-primary col-md-offset-3 col-sm-1" id="btnSave">Save</div>            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
         
            $.ajax({
                type: "GET",
                url: "/Category/getCategoryList",
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Category</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].CategoryId + '">' + data[i].CategoryName + '</option>';
                    }
                    $("#CatgId").html(s);
                    var sel = $("#CategoryId").val();
                  
                    $("#CatgId").val(sel);
                }
            });
        });

        $("#btnSave").click(function () {

         
            var prodname = $("#ProductName").val();
            if (prodname == "" || prodname == null)
                return alert("Please Enter Product Name")

            var catgId = $("#CatgId").val()
            if (catgId == "-1")
                return alert("Please Select Category")

            var data = {
                "ProductId": $("#ProductId").val(),
                "ProductName": prodname,
                "CategoryId": catgId
            };

            $.ajax({
                type: "Post",
                dataType: "Json",
                url: "/Product/Edit",
                data: data,
                success: function (data) {
                  
                    window.location.href = "/Product/Index";
                }
            });

        });


    </script>
}